/* Estilos para o layout b치sico */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    background-color: #807e7e;
}

#sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    transition: width 0.3s; 
 
}

#sidebar h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    margin-bottom: 10px;
}

#sidebar a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}

#sidebar a:hover {
    text-decoration: underline;
}

#content {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Estilos para os gr치ficos */
.chart-container {
    display: none;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.chart {
    width: 1000px; /* Use 100% da largura do container */
    max-width: 150%; /* Defina um tamanho m치ximo para o gr치fico */
    height: auto; /* Redimensione a altura de acordo com a largura */
}